{% extends 'main.html' %}
{% block content %}

<main class="layout">
    <div class="container">    
    <h2>You're looking at : {{detail.name}} </h2>
    </div> 
    <div class="jumbotron">
        <div class="container layout">
          <h1 class="display-4"> </h1>
          <body class="lead">{% if detail.description %}
            <p>{{detail.description}}
            </p>
            </body>
      </div>
    </div>
    <div class="container layout">
        {% else %} 
        <p> Description coming soon!</p>
        {% endif %}
    </div>
    <div class="container layout">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'submit_Problem' detail.prob_id %}" role="button">Try this Problem!</a>
        </p>
    </div>
</main>

<!-- <table id="submissions">
    <thead>
        <tr>
            <th>Verdict</th>
            <th>Problem</th>
            <th>Submitted At</th>
        </tr>
    </thead>
    <tbody>
        {% for res in result %}
        <tr>
            <td>{{res.verdict}}</td>
            <td><a href="{% url 'problem_detail' res.problem.id %}">{{res.problem.code}}</a></td>
            <td>{{res.submittedAt}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->

<ul>
    {% for res in result %}
        <li>{{ res.problem.code }} | {{ res.verdict }}</li>
    {% endfor %}
</ul>


{% endblock %}





