{% extends 'main.html' %}
{% block content %}

<main class="layout">
    <div class="container">    
    <h2>You're looking at : {{detail.name}} </h2>
    </div> 
    <div class="jumbotron">
        <div class="container layout">
          <h1 class="display-4"> </h1>
          <p class="lead">{% if detail.description %}
            {{detail.description}}</p>
      </div>
    </div>
    <div class="container layout">
        {% else %} 
        <p> No description</p>
        {% endif %}
    </div>
    <div class="container layout">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'submit_Problem' detail.prob_id %}" role="button">Try this Problem!</a>
        </p>
    </div>
</main>

{% endblock %}





